* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-title {
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 60px;
  color: #efa94a;
}
.header_menu-img {
  width: 100px;
}

.header-input {
  width: 250px;
  font-size: 14px;
  background-color: #bfb0b8;
}

.header-btn-search {
  display: flex;
  width: 70px;
  padding-left: 12px;
  border-radius: 13em/3em;
  background-color: #efa94a;
}

.form {
  display: flex;
  margin-left: 10px;
  height: 30px;
  gap: 15px;
  margin-bottom: 30px;
}

.main-title {
  font-size: 35px;
  margin-bottom: 10px;
  color: #efa94a;
}
.show-title {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aside_list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.aside-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  width: 40%;
}

ul.js-ulList {
  list-style: none;
  margin-left: 10px;
}

.color {
  border: 8px solid #efa94a;
  background-color: #9da1aa;
}

.favorite-title {
  color: #8673a1;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

body {
  background-color: #8673a1;
}
