*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color{
    background-color: salmon;
}

.aside_list{
    display: flex;
    flex-direction: column;
}
.aside-left{
    display: flex;
    flex-direction: column;
    
}